rest_api_address = "{{ hostvars[inventory_hostname]['restAddress'] }}"
rest_api_port = {{ hostvars[inventory_hostname]['restPort'] }}
rest_api_password = "{{ hostvars[inventory_hostname]['restPassword'] }}"
